[Desktop Entry]
Name=Fork Notes
Comment=Fork Notes Issue Tracker
Exec=fork_notes
Icon=fork-notes-icon
Terminal=false
Type=Application
Categories=Development;Utility;
StartupNotify=true
